# Python
__pycache__

# Visual Studio Code
.vscode

# Ignore python virtual env folders
.venv
env
venv

# Data Folders
data
downloads
local_run*.sh

# Temporary Scrips
tmp_*.py

# Logs folder
logs
wandb/

# Local Configuration files
config/

